


.slider-area h2{
    text-align: center;
    font-family: Impact;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 100px 0 30px 0;
    color: aliceblue;
}
.wrapper{
    width: 750px;
    display: 0 auto;
    display: flex;
    overflow: hidden;
    border-radius: 180px;
    padding: 2.5rem;
    background: #e9e6e6;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
img{
    height: 50px;
    width: 80px;
    border-radius: 20%;
    margin: 6px;
}
.item{
    animation: animate 25s alternate linear infinite;
}
.wrapper:hover .item{
    animation-play-state: paused;
}
@keyframes animate{
        0%{
            transform: translate3d(0,0,0);
        }
    
    100%{
        transform: translate3d(-1100px, 0,0);
    }
}



